API_ENDPOINT=https://pisco-api.terra.dev
LCD_ENDPOINT=https://pisco-lcd.terra.dev
CHAIN_ID=pisco-1
#WHITELISTED_TOKENS=astro, axlUSDC, uluna
DEFAULT_WHITELISTED_TOKENS=terra167dsqkh2alurx997wmycw9ydkyu54gyswe3ygmrs4lwume3vmwks8ruqnv,ibc/B3504E092456BA618CC28AC671A71FB08C6CA0FD0BE7C8A5B5A3E2DD933CC9E4,uluna

ASTROPORT_FACTORY=terra1z3y69xas85r7egusa0c7m5sam0yk97gsztqmh8f2cc6rr4s4anysudp7k0
ASTROPORT_ROUTER=terra1na348k6rvwxje9jj6ftpsapfeyaejxjeq6tuzdmzysps20l6z23smnlv64

PRIVATE_KEY=...
